<h1 class="view_title">Finances</h1>

<div class="manage_rooms_container">

	<div class="manage_rooms_update_price left">
		
		<img class="left" src="../../../assets/img/revenue_img.png" width="41px" height="35px">

		<h3 class="left manage_rooms_change_price_headline">Revenue</h3>

		<div class="clearfix"></div>

		<h3 class="left finance_total_revenue_text">${{finance.income}}</h3>

	</div>

	<div class="manage_rooms_update_price left">
		
		<img class="left" src="../../../assets/img/expenses_img.png" width="51px" height="32px">

		<h3 class="left manage_rooms_change_price_headline">Expenses</h3>

		<div class="clearfix"></div>

		<h3 class="left finance_expenses_text">${{finance.expenses}}</h3>

	</div>

	<div class="manage_rooms_change_price left"></div>

</div>